body {
  background-color: #f0f0f0;
  padding: 24px;
}

h1,
h2 {
  color: #333333;
  font-family: PingFang SC, Microsoft YaHei, Inter, Arial, sans-serif;
}

.dash-graph {
  border-radius: 18px;
  overflow: hidden;
  margin: 6px 12px;
  padding: 0 12px;
  background-color: white;
  transition: box-shadow 0.5s ease;
  height: 750px;

  &:hover {
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}

button {
  margin: 4px;
  padding: 8px;
  border-radius: 12px;

  &:hover {
    background-color: lightgray;
  }
}

#input-time {
  width: 50px;
}

.vertical-rule {
  display: inline-block;
  border-left: 1px solid #333333;
  height: 100%;
  margin: 0 12px;
}

.alert-box {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 200px;
  height: 70px;
  border-radius: 18px;
  padding: 12px;
  background-color: #fefefe;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  font-family: PingFang SC, Microsoft YaHei, Inter, Arial, sans-serif;

  &:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
}

h3 {
  font-weight: 400;
}
